ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif; /* Ensures consistent font */
  padding-bottom: 5%;
}

.navbar {
    background-color: #1c1c1c;
    text-align: center; /* This centers the div containing the ul */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* This will center the items horizontally */
}

.navbar li {
    margin: 0 10px; /* Adds horizontal spacing between items */
    font-size: 20px;
}

.navbar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center; /* Ensures text is centered within each link */
    
}

.navbar a:hover {
    background-color: #111111;
}

.page_title h1{
    margin-top: 5%;
    text-align: center;
    color: white;
}

.image-gallery{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
    background-color: #1c1a1d;
    border-radius: 8px;

}

.image-gallery img{
    width: auto;
    height: auto;
}

.heading1 h2{
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 4%;
}
.main-text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;